{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Customer Service
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Customer Service</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}<br>
                    <input type="submit" class="btn btn-primary" value="Submit form">
                </form>
            </div>
        </div>
    </div>
{% endblock %}